**/credentials.*
**/target/
/s4hana_pipeline
**/*.log
**/*.trc
**/.settings/
**/.project
**/.classpath
**/.idea
**/*.iml
**/.vscode
**/node_modules
**/.DS_Store
**/package-lock.json
docs/.sass-cache/
docs/_site/